html {
    scroll-behavior: smooth;
}

:root {
    --custom-dark-grey: #414042;
    --custom-light-grey: #F1F2F2;
    --custom-yellow: #FFF200;
}

/* change primary color */
.nav-link {
    color: var(--custom-dark-grey);
}

.nav-link:hover {
    background-color: var(--custom-dark-grey);
    color: var(--custom-yellow);
}

.bg-primary {
    background-color: var(--custom-dark-grey) !important;
}

.btn-primary {
    background-color: var(--custom-dark-grey);
    border-color: var(--custom-dark-grey);
}
.btn-primary:hover {
    background-color: var(--custom-light-grey);
    border-color: var(--custom-light-grey);
    color: var(--custom-dark-grey);
}

/* end primary color */

body {
    background-color: #FFF200;
    margin-left: 150px;
    margin-right: 150px;
}

@media (max-width: 600px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }
}    