html {
    scroll-behavior: smooth;
}

:root {
    --custom-dark-grey: #414042;
    --custom-light-grey: #F1F2F2;
    --custom-yellow: #FFF200;
}

/* change primary color */
.nav-link {
    color: var(--custom-dark-grey);
    padding: 10px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: var(--custom-dark-grey);
    color: var(--custom-yellow);
    padding: 10px;
    border-radius: 5px;
}

.bg-primary {
    background-color: var(--custom-dark-grey) !important;
}

.btn-primary {
    background-color: var(--custom-dark-grey);
    border-color: var(--custom-dark-grey);
}
.btn-primary:hover {
    background-color: var(--custom-light-grey);
    border-color: var(--custom-light-grey);
    color: var(--custom-dark-grey);
}

/* end primary color */

body {
    background-color: #FFF200;
    margin-left: 150px;
    margin-right: 150px;
}

.banner-text {
    top: 120px;
}

.skip{
    position:absolute;
    top:auto;
    width: 2px;
    height: 2px;  
    color: black;
    text-decoration: none;
    overflow: hidden;
  }
  
  .skip:focus{
    position: static;
    width: auto;
    height: auto;
    padding: 2px;
  }

/* start media queri */
@media (max-width: 600px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    .banner-text {
        top: 10px;
    }

    .banner-text {
        width: 10rem;
    }

    #banner-textbox {
        scale: 70%;
        margin-left: -50px;
    }

    #banner-textbox-2 {
        scale: 70%;
        margin-left: 0px;
        top: -30px;
    }
}   
