html {
    scroll-behavior: smooth;
}
:root {
    --custom-dark-blue: #000F24;
    --custom-red: #BE1E2D;
    --custom-orange: #EC1C24;
    --custom-light-orange: #FAAF40;
}
.nav-link {
    margin: 0 20px;
    color: white;
}
.nav-link:hover {
    color: var(--custom-red);
}
.btn-primary {
    background-color: var(--custom-red);
    border: none;
}
.btn-primary:hover{
    background-color: var(--custom-orange);
}
.border-primary {
    border-color: var(--custom-orange) !important;
}
.number {
    font-size: 30pt;
    font-weight: bold;
    margin: 0;
}
.plus  {
    font-size: 30pt;
    color: var(--custom-orange);
    font-weight: bold;
    margin: 0;
}
.content {
    font-size: 10pt;
}
body {
    background-color: var(--custom-dark-blue);
    font-family: Bai Jamjuree;
    width: 100%;
    color: white;
}
nav {
    height: 120px;
}
a{
    text-decoration: none;
    font-weight: bold;
    font-size: 15pt;
    color: white;
}
.social-bar {
    color: white;
}
h3 {
    font-size: 15pt;
}
h2 {
    font-size: 38pt;
    font-weight: bold;
}
p {
    font-size: 15pt;
}
